header{
    background-image: url(img/fondo.jpg);
    height: 100vh;
    background-size: cover;
}

.contenedor{
    align-items: center;
    max-width: 1280px;
    width: 95%;
    margin:auto;
    font-family: 'karla';
    position: sticky;
    top: 0%;
}
html{
    scroll-behavior: smooth;
}
.navbar a{
    font-size: 20px;
    font-family: 'karla';
    color: black;
    text-decoration: none;
    margin: auto;
	transition: .3s ease-out all;
    width: 100%;
    padding: 37px;
    text-align: center;
}
.navbar a:hover{
    background: #1D2F3D;
    color: white;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between ;
    background: rgba(191, 135,13);
}
.contenedor-img{
    height: 83px;
    padding-top: 15px;
}
.centro img{
    height: 100px;
}
.contenedor-centro{
  text-align: -webkit-center;
  padding-top: 74px;
}
.centro{
 box-shadow: 1px 1px 3px;
 width: 260px;
 text-align: center;
 font-family: 'karla';
}
.centro p{
    font-size: 24px;
    color:brown; 
    margin-bottom: 2%;
}
.centro a{
    background: sandybrown;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}
.centro a:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: 'karla';
}
.contenedor-nosotros{
    display: flex;
    justify-content: space-around;
    font-family: 'karla';
    flex-wrap: wrap;
    padding-bottom: 30px;
}
 h3{
    text-align: center;
}
body{
    margin: 0%;
    padding: 0%;
}
.nosotros{
    box-shadow: 1px 1px 10px 2px #F1C40F ;
    width: 378px;
    margin: 0px 0px 30px 109px;
}
.nosotros img{
    width: 100px;
}
.nosotros p{
    line-height: 28px;
}
#img1{
    width:200px !important;
    padding-left: 91px;
    border-radius: 93px;
}
.nosotros li img{
    width:200px !important;
    padding: 30px 55px 55px 56px;
}
.img2{
    width: 328px !important;
    padding-left: 20px;
    margin-bottom: 15px;
}
.nosotros1{
    box-shadow: 1px 1px 10px 2px #F1C40F;
    width: 378px;
    height: 710px;
    margin: 20px 62px 20px 110px;
}
.nosotros2{
    box-shadow: 1px 1px 10px 2px #F1C40F;
    width: 378px;
    height: 725px;
    margin: 20px 1px 0px 40px;
}
.nosotros2 img{
    width: 200px;
    padding-left: 76px;
}
#contenedor-curso h4{
    font-size: 55px;
    text-align: center;
    margin: 0%;
}
#contenedor-curso{
    font-family: 'karla';
    background: rgb(63,94,251);
    background-image: linear-gradient( rgba(238,174,202,.9) 8%, rgba(148,187,233,.9)), url(img/nosegrande3.jpg);
    height: 60vh;
    background-size:cover;
    padding-bottom: 200px;    
}
.contenedorcurso{
    display: flex;
    flex-wrap: wrap;
}
.curso1{
    width: 190px;
    height: 170px;
    background: #FFEEBB;
    border-radius: 10px;
    box-shadow: -3px 5px 8px;
    text-align: center;
    margin: 144px 70px 0px 50px;
}
.curso1 h3{
    margin:0;
    font-size: 17px;
}
.curso1 a{
    text-decoration: none;
    background: darkblue;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color:red;
}
.curso1 p{
    font-size: 16px;
    margin: 14px 0px 26px 0px;
}

.curso2{
   background:#FDFFBC;
   width: 190px;
   height: 170px;
   border-radius: 10px;
   box-shadow: -3px 5px 8px;
   text-align: center;
   margin: 144px 70px 0px 50px;
}
.curso2 p{
    font-size: 16px;
}
.curso2 a{
    text-decoration: none;
    background: darkblue;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color: red;
}
.curso3{
    background: #FFDCB8;
    width:190px;
    height: 170px;
    border-radius: 10px;
    box-shadow: -3px 5px 8px;
    text-align: center;
    margin: 144px 70px 0px 77px;
}
.curso3 p{
    font-size: 16px;
}
.curso3 a{
    text-decoration: none;
    background: darkblue;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color: red;
}
.curso4{
    background: #FFC1B6; ;
    width: 190px;
    height: 170px;
    border-radius: 10px;
    box-shadow: -3px 5px 8px;
    text-align: center;
    margin: 144px 70px 0px 124px;
}
.curso4 p{
    font-size: 16px;
}
.curso4 a{
    text-decoration: none;
    background: darkblue;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color: red;
}
.psola{
    font-family: 'karla' !important;
    text-align: center;
    font-size: 20px;
    padding: 50px 0px 50px 0px !important;
    font-weight: bold;
}
.contenedor-postres{
    font-family: 'karla';
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
#fondo1 h2{
    text-align: center;
    font-size: 40px;
    font-family: 'karla';
    margin: 0px 0px 26px 0px;
}
.choco img{
    height: 150px;
    width: 211px;
    margin: 15px 0px 0px 39px;
}
.choco p{
    font-size: 20px;
    text-align:center;
}
.choco{
    background: linear-gradient(rgba(149,1,1,1), rgba(158,117,64, 0.9), rgba(0, 0, 0));
    color: white;
    width: 284px;
    margin: 0px 30px 30px 25px;
}
.gelato img{
    height: 142px;
    width: 208px;
    margin:26px;
    border-radius: 12px;
}
.gelato{
    background: linear-gradient(rgba(200,227,212,0.9), rgba(246,215,167,0.9), rgba(200,227,212,0.9));
    width: 263px;
    margin: 0px 32px 30px 12px;
}
.gelato p{
    width: 257px;
    line-height: 30px;
}
.tiramisu img{ 
    width: 200px;
    margin: 30px 20px 20px 41px;
}
.tiramisu{
    width: 281px;
    background: linear-gradient(rgba(200, 229, 208,0.9), rgba(216, 179, 132,0.9), rgba(133, 96, 63,0.9));
    margin: 0px 30px 30px 0px;
}
.tiramisu p{
    line-height: 30px;
}
.panna img{
    height: 127px;
    width: 181px;
    margin: 20px 30px 20px 46px;
}
.panna{
    width: 272px;
    background: linear-gradient(rgba(224,36,1,0.8)14%, rgba(247, 136, 18, 0.9), rgba(224,36,1,0.8));
    margin: 0px 20px 30px 20px;
}
.panna p{
    line-height: 30px;
    width: 252px;
}
.pasteis img{
    width: 200px;
    margin: 20px 30px 20px 35px;
}
.pasteis{
    width: 269px;
    background: linear-gradient(rgba(255, 193, 7, 0.9), rgba(52, 58, 64, 0.9));
    margin: 0px 20px 20px 20px;
}
.pasteis p{
    line-height: 24px;
}
.pavlola img{
    width: 200px;
    height: 150px;
    margin: 20px 30px 20px 39px;
}
.pavlola{
    background: linear-gradient(rgb(239, 75, 75), rgb(126, 207, 192));
    width: 272px;
    margin: 0px 16px 20px 27px;
}
.pavlola p{
    line-height: 30px;
}
.pastafrola img{
    width: 200px;
    margin: 20px 35px 20px 35px;
}
.pastafrola{
    background: linear-gradient(rgb(149, 1, 1), rgb(230, 181, 102));
    width: 270px;
    margin: 0px 23px 20px 18px;
}
.pastafrola p{
    line-height: 30px;
}
.papaya img{
    width: 200px;
    margin: 20px 35px 20px 38px;
}
.papaya{
    width: 274px;
    background: linear-gradient(rgb(230, 181, 102), rgb(133, 96, 63));
    margin: 0px 20px 20px 20px;
}
.papaya p{
    line-height: 30px;
    width: 274px;
}
.maz img{
    width: 200px;
    margin: 20px 35px 20px 38px;
}
.maz{
    width: 276px;
    background: linear-gradient(rgb(118, 56, 87), rgb(227, 209, 138));
}
.maz p{
    line-height: 30px;
}
.morocho img{
    width: 200px;
    margin: 20px 35px 20px 42px;
}
.morocho{
    width: 276px;
    background: linear-gradient(rgb(189, 147, 84), rgb(246, 234, 190));
}
.morocho p{
    line-height: 30px;
}
.suspiro img{
    width: 200px;
    margin: 20px 25px 20px 25px;
}
.suspiro{
    background: linear-gradient(rgb(204, 155, 109), rgb(198, 213, 126),rgb(255, 225, 175));
    width: 250px;
}
.suspiro p{
    line-height: 20px;
}
.espumilla img{
    width: 200px;
    margin: 20px 25px 20px 25px;
}
.espumilla{
    background: linear-gradient(rgb(58, 99, 81), rgb(160, 147, 125));
    width: 250px;
}
.espumilla p{
    line-height: 30px;
}
#fondo1{
    background: linear-gradient(rgb(198, 213, 126), rgb(213, 126, 126), rgb(162, 205, 205),rgb(255, 225, 175));
}
.contenedor-ubicacion{
    margin-left: 295px;
}
.mapa{
    background: white fixed no-repeat 50% 50%;
    background-size: cover;
}
#mapa{
    background-image: url(img/mapa2.jpg);
}
.h3solo{
    font-size: 30px;
    font-family: 'karla';
    text-align: center;
    margin: 0%;
    padding: 10px 0 10pxb 0 ;
}
.delivery1 h3{
    font-family: 'karla';
    display: flex;
    font-size: 30px;
}
.delivery1{
    font-family: 'Irish Grover';
    font-size: 20px;
    list-style: none ;
    margin-right: 140px;
}
.delivery1 ul{
    list-style: none;
    line-height: 40px;
}
.h4{
    font-family: 'karla';
    font-size: 30px;
    text-align: center;
}
.delivery2 h3{
    font-family: 'karla';
    font-size: 30px;
}
.delivery2{
    font-family: 'Irish Grover';
    line-height: 40px;
    font-size: 20px;
    margin: 0px 120px 0px 30px;
}
.delivery2 ul{
    list-style: none;
}
.delivery3 h3{
    font-family: 'karla';
    font-size: 30px;
}
.delivery3{
    font-family: 'Irish Grover';
    font-size: 20px;
    line-height: 40px;
    margin: 0px 40px 0px 40px;
}
.delivery3 ul{
    list-style: none;
}
.contenedor-delivery{
    display: flex;
    flex-wrap: wrap;
    border: double 9px;
    background:radial-gradient(rgb(187, 234, 166),rgb(227, 200, 120),rgb(237, 154, 115),rgb(230, 136, 161));
    margin-bottom: 40px;
}
.hr1{
    color: black;
}
.hr2{
    color: black;
}
.delivery4 h3{
    font-family: 'Oswald';
    font-size: 49px;
    text-align: center;
}
.delivery4 p{
    font-family: 'Karla';
    font-size: 30px;
    margin-top: 50px;
}
.delivery4 img{
    float: left;
    height: 379px;
    width: 643px;
}
.delivery4{
    padding-bottom: 130px;
}
.delivery5 h3{
    font-family: 'Oswald';
    font-size: 50px;
    text-align:initial !important;
    margin:0;
}
.delivery5 p{
    font-family: 'Karla';
    font-size: 30px;
    margin:0;
    width: 655px;
}
.imagendelivery1{
    height: 200px !important;
}
.imagendelivery2{
    margin-block-start: -245px;
    float: right;
    height: 429px;
    width: 683px;
}
.delivery6 h3{
    font-family: 'Oswald';
    font-size: 50px;
    margin: 0%;
}
.delivery6{
    margin-bottom: 30px;
}
.delivery6 p{
    font-family: 'Karla';
    font-size: 30px;
    margin: 0%;
}
.imagendelivery3{
    float: left;
}
.delivery7 h3{
    font-family: 'Oswald' !important;
    font-size: 50px !important;
    margin-bottom: 50px;
    text-align: center !important;
    width: 490px;
}
.delivery7 p{
    font-family: 'karla';
    font-size: 30px;
    margin: 0%;
    width: 639px;
}
.imagendelivery4{
    float: right;
    height: 416px;
    width: 667px;
    margin-block-start: -380px;
}
.imagendelivery5{
    height: 127px;
    margin: 0px 50px 0px 207px;
}
.psola2{
    font-family: 'karla';
    font-weight: bold;
    padding: 0% !important;
}
#container-blog{
    background-image: linear-gradient(rgba(20, 22, 24, 0.8),rgba(20, 22, 24, 0.8)), url(img/quienessomos4.jpg);
    background-size: cover;
}
.blogh4{
    font-family: 'karla';
    font-size: 40px;
    text-align: center;
    color: white;
}
.blog1 img{
    height: 200px;
    margin: 0px 39px;
}
.blog1 h3{
    font-family: 'karla';
    font-size: 30px;
    color: white;
}
.blog1 p{
    font-family: 'karla';
    font-size: 20px;
    color: white;
}
.blog1{
    width: 345px;
    box-shadow: 1px 1px 1px;
    background-color: rgba(20, 22, 24, 0.8);
    margin: 0px 50px;
    height: 614px;
}
.blog2 img{
    height: 94px;
    margin: 0px 59px;
}
.blog2 p{
    font-family: 'karla';
    font-size: 20px;
    color: white;
}
.blog2 h3{
    font-family: 'karla';
    font-size: 30px;
    color: white;
}
.blog2{
    width: 553px;
    height: 613px;
    box-shadow: 1px 1px 1px;
    background-color: rgba(20, 22, 24, 0.8);
    margin: 0px 155px;
}
.blog3 h3{
    font-family: 'karla';
    font-size: 30px;
    color: white;
}
.blog3 p{
    font-family: 'karla';
    font-size: 20px;
    color: white;
}
.blog3 img{
    height: 200px;
    margin: 0px 17px;
}
.blog3{
    width: 384px;
    box-shadow: 1px 1px 1px;
    background-color: rgba(20, 22, 24, 0.8);
    margin: 0px 50px;
}
.contenedor-blog{
    display: flex;
}
#parallax{
    background-image: linear-gradient(rgba(20, 22, 24, 0.8),rgba(20, 22, 24, 0.8)),url('img/frase1.jpg');
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.frase{
    background: white fixed no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 500px;
}
.frase h3{
    font-size: 40px;
    font-family: 'karla';
    color: white;
    margin: 0px 0px 40px 0px;
}
.frases{
    box-shadow: 1px 1px 1px;
    width: 654px;
    height: 374px;

    margin: auto;

    background-color: rgba(20, 22, 24, 0.8);
    color: white;

    line-height: 33px;
    text-align: center;
    font-size: 20px;
    font-family: 'karla';
}
.frase1{
    display: inline-block;
    margin: 0 0.5rem;

  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase2{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase3{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase4{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase5{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase6{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase7{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase8{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase9{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:zoomInUp 5;
    animation-duration: 5s;
}

.frase10{
    display: inline-block;
    margin: 0 0.5rem;
    
    animation-name: mymove;
    animation:zoomInUp 5;
    animation-duration: 5s; 
}
.pdos{
    font-size: 20px;
    font-family: 'karla';

    text-align: center;
    color: white;
    margin: 10px 0px 0px 0px ;
}
.cuadro{
    height: 500px;
    width: 100px;
    background:yellow url(img/cuadro.jpg);

    margin:0px 50px 0px 0px;
    background-size: cover; 
    background-repeat: no-repeat;

    animation: slider 10s infinite alternate;
}
    @keyframes slider {

        from{
            background-position: left center;
        }
        to{
            background-position: right center;
        }
        
    }

#creditos{
    background: rgba(191, 135,13);
    font-family: 'karla';
    display: flex;
    justify-content: space-between;
}
#creditos img{
    height: 113px;
    margin: auto;
}
.contenedor-cuadros{
    display: flex;
    align-items: center;

    margin-left: -4px;
   font-size: 22px;
}
.cuadro2{
    margin:auto;
    padding-right: 70px;
    text-align: center;
}
.cuadro2 ul li{
    list-style: none;
    text-align: start !important;
}
.cuadro3{
    margin: auto;
    padding-right: 8px;
}
.cuadro3 p{
    text-align: start !important;
}
.cuadro3 a{
    text-decoration: none;
    color: black;
    margin: 0px 15px 0px 15px;
}
.cuadro4{
    text-decoration: underline;
}
.cuadro2 a{
    text-decoration: none;
    color: black;
    display: flex;
}
.menu-icon{
    display: none;
}
@media (max-width: 480px){
  nav{
      position: absolute;
      top: 2px;
      left: 0px;
      flex-direction: column;
  }
  .navbar a{
      padding: 0px;
  }
  .contenedor nav{
      display: none;
  }
  .menu-icon{
      display: block !important;
      float: right;
      height: 25px;
  }
  .contenedor .navbar{
      top: 30px;
  }
  .contenedor{
      top: 20px;
  }
  .contenedor-centro{
        padding-top: 167px;
    }
    .centro p{
        color: black;
    }
    .nosotros{
        margin: 0px 18px 30px 18px;
    }
    .nosotros1{
        margin: 20px 62px 20px 63px;
    }
    .img2{
        padding-left: 12px;
    }
    .nosotros2{
        margin: 20px 16px 0px 16px;
    }
    #contenedor-curso{
        height: 121vh;
    }
    .curso1{
        margin: 9px 70px 0px 84px;
    }
    .curso2{
        margin: 43px 70px 0px 82px;
    }
    .curso3{
        margin: 43px 70px 0px 80px;
    }
    .curso4{
        margin: 43px 58px 0px 80px;
    }
    .morocho{
        margin-top: 20px ;
    }
    .suspiro{
        margin-top: 20px;
    }
    .espumilla{
        margin-top: 20px;
    }
    iframe{
        width: 200px;
        height: 150px;
    }
    .contenedor-ubicacion{
        margin-left: 81px;
    }
    .contenedor-delivery{
        display: block;
    }
    .delivery1{
        margin-right: 81px;
    }
    .delivery1 h3{
        display: block;
    }
    .delivery2{
        margin: 0px 14px 0px -9px;
    }
    .delivery3{
        margin: 0px 40px 0px 3px;
    }
    .delivery4{
        padding:0;
    }
    .delivery4 img{
        float:none ;
        height: 260px;
        width: 350px;
        margin-left: 14px;
    }
    .delivery4 h3{
        margin:0;
        font-size: 24px;
    }
    .delivery4 p{
        width: 325px;
        margin-left: 39px;
        font-size: 20px;
    }
    .delivery5 h3{
        font-size: 30px;
        text-align: center !important;
    }
    .delivery5 p{
        font-size: 20px;
        margin-left: 38px;
        width: 357px;
    }
    .imagendelivery1{
        height: 90px !important;
        display: flex;
        top:0;
        right: 0;
        bottom: 0%;
        left: 0%;
        margin: auto;
    }
    .imagendelivery2{
        margin: auto;
        height: 260px;
        width: 350px;

        float: none;
        padding-left: 13px;
        
    }
    .imagendelivery3{
        margin: 13px;
        height: 260px;
        width: 350px;
    }
    .delivery6 h3{
        font-size: 30px !important;
    }
    .delivery6 p{
        font-size: 20px;
        width: 326px;
        margin-left: 20px;
    }
    .delivery7 h3{
        font-size: 26px !important;
        width: 374px;
        margin: 0%;
    }
    .delivery7 p{
        width: 317px !important;
        margin: 25px !important;
        font-size: 20px;
    }
    .imagendelivery4{
        height: 260px;
        width: 350px;
        margin: auto;

        float: none;
        margin: 15px;
    }
    .imagendelivery5{
        height: 90px;
        margin: 0px 50px 0px 109px;
    }
    .psola2{
        margin-left: 37px;
        font-size: 24px;
    }
    .contenedor-blog{
        display: block;
    }
    .blog1{
        margin: 0px 29px;
        height: 469px;
        width: 321px;
    }
    .blog1 img{
        margin: 0px 97px;
    }
    .blog2{
        width: 336px;
        height: 568px;
        margin: 0px 26px;
    }
    .blog3{
        width: 324px;
        margin: 0px 27px;
    }
    .frases{
        width: 322px;
        font-size: 13px;
        line-height: 23px;
    }
    .pdos{
        font-size: 14px;
    }
    .cuadro{
        width: 340px;
        margin: 0%;
    }
    #creditos{
        display: block;
    }
    .contenedor-cuadros{
        display: block;
        margin-left: 49px;
    }
    .cuadro2{
        padding-right: 244px;
    }
    #creditos img{
        margin-left: 60px;
    }
}
@media (min-width: 700px) and (max-width: 900px){

    .contenedor-centro{
        padding-top: 20px;
    }
    header{
        height: 50vh;
    }
    .curso1{
        margin: 144px -18px 0px 103px;
    }
    .curso2{
        margin: 144px 70px 0px 198px;
    }
    .curso3{
        margin: 144px 70px 0px 108px;
    }
    .curso4{
        margin: -170px 11px 0px 475px;
    }
    .suspiro{
        margin-top: 20px;
    }
    .espumilla{
        margin-top: 20px;
    }
    .tiramisu{
        margin: 0px 16px 30px 21px;
    }
    iframe{
        width: 400px;
        height: 200px;
    }
    .contenedor-ubicacion{
        margin-left: 200px;
    }
    .contenedor-delivery{
        display: block;
    }
    .delivery1 h3{
        display: block;
   }
   .delivery1 ul li{
       margin-left: 243px;
   }
   .delivery2 ul li{
       margin-left: 209px;
   }
   .delivery3 ul li{
       margin-left: 210px;
   }
   .delivery4 img{
       margin-left: 60px;
       float: none;
   }
   .delivery4{
       padding:0px;
   }
   .delivery4 p{
       margin-left: 28px;
   }
   .imagendelivery2{
       margin:auto;
       float: none;
       padding-left: 40px;
   }
   .delivery5 h3{
       padding-left: 84px;
   }
   .delivery5 p{
       padding-left: 30px;
   }
   .imagendelivery1{
       margin: auto;
       display: flex;
       height: 152px !important;
   }
   .imagendelivery3{
       margin: 20px 30px 0px 64px;
   }
   .imagendelivery4{
       float: none;
       margin: auto;
       padding-left: 50px;
   }
   .delivery7 p{
       margin: 0px 30px 0px 30px;
   }
   .delivery7 h3{
       width: 744px;
   }
   .blog1{
       margin: 0px 4px;
   }
   .blog2{
       margin: 0px 24px 0px 7px;
   }
   .blog2 img{
       height: 78px;
   }
   .blog3{
    margin: 0px 0px 0px -17px;
   }
}
#wsp{
    position: fixed;
    bottom: 50px;
    right: 1%;
}